*{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1cqmin;
}

/*---------- Login CSS ----------*/
.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

.login-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-box button {
    margin-top: 20px;
    padding: 12px;
    background: #0f172a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
}

.login-box button:hover {
    background: #252729;
}

.login-box label{
  font-weight: bold;
}

/*---------- Register CSS ----------*/
.register-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

.register-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.register-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.register-box button {
    margin-top: 20px;
    padding: 12px;
    background: #0f172a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s ease;
}

.register-box button:hover {
    background: #252729;
}

.register-box label{
  font-weight: bold;
}

.router-link {
    text-decoration: none;
    color: #2563eb;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.router-link:hover{
    background-color: #0f172a;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

/*---------- Product File CSS ----------*/
#productName, #sku, #category, #supplier, #stock, #costPrice, #sellingPrice, #search{
    padding: 12px 14px;
    border: 1px solid;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: small;
    letter-spacing: 0.1cqmin;
}

label[for="productName"], label[for="sku"], label[for="category"], label[for="supplier"], label[for="stock"], 
label[for="costPrice"], label[for="sellingPrice"]{
    letter-spacing: 0.1cqmin;
    font-weight: 600;
}

/*---------- Category File CSS ----------*/
#categoryName, #description, #status{
    padding: 12px 14px;
    border: 1px solid;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: small;
    letter-spacing: 0.1cqmin;
}

label[for="categoryName"], label[for="description"], label[for="status"]{
    letter-spacing: 0.1cqmin;
    font-weight: 600;
}